@import "../../../variables";

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  > div {
    text-align: center;
    color: black;

    .icon{      
        @include primary-color;
        font-size: 4rem;
    }
  }
}