/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "variables";

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap-icons/font/bootstrap-icons.css";

// Importing Material styles
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.primary-color, .primary {
   @include primary-color;
}
.primary-background {
   @include primary-background;
}

*{
   color:black;
}

.hr {
   border-top: 1px solid rgb(240, 240, 240);
}

section {
   padding: 60px 0;
}