/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "variables";

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap-icons/font/bootstrap-icons.css";

// Importing Material styles
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.primary-color, .primary {
   @include primary-color;
}
.primary-background {
   @include primary-background;
}

*{
   color:black;
}

.hr {
   border-top: 1px solid rgb(240, 240, 240);
}

section {
   padding: 30px 0;
}

.btn-secondary {
   background-color: transparentize($color: $secondary, $amount: .5);
   border: 2px solid $secondary;
}
.btn-primary {
   background-color: transparentize($color: $primary, $amount: .5);
   border: 2px solid $primary;
}

.url {
   color: $primary;
   text-decoration: underline;
   text-decoration-style: solid;
   text-decoration-color: $primary;
   text-decoration-thickness: 2px;

   &:hover {
      color: $primary;
      text-decoration: underline;
      text-decoration-style: solid;
      text-decoration-color: $primary;
      text-decoration-thickness: 2px;
   }
}