<app-worker-page *ngIf="showWorkingPage"></app-worker-page>

<mat-drawer-container *ngIf="!showWorkingPage" class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <ul class="">
      <li>Home</li>
    </ul>
  </mat-drawer>

  <nav>
    <div>
      <a href="/"><img src="../assets/media/logo.jpg" alt="Heemkring Scheldeveld logo"></a>
      <span>Heemkring Scheldeveld</span>
    </div>
  </nav>

  <!-- <mat-toolbar>
    <a href="/"><img src="../assets/media/logo.jpg" alt="Heemkring Scheldeveld logo"></a>
    <span>Heemkring Scheldeveld</span>
    <span class="spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar> -->
  <router-outlet></router-outlet>
</mat-drawer-container>