@import './../../../variables.scss';

.logos {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   height: 100%;

   > img {
      max-height: 50px;
      margin: 15px 25px;
   }
}

.map-note {
   padding: 20px 0;
   color: $secondary;
   // font-weight: lighter;
   ::before {
      content: f05a;
      color: $secondary;
   } 
}