<app-page-base>
   <div id="map" class="map"></div>
</app-page-base>

<section class="container text-center">
   <h1>Over Heemkring Scheldeveld</h1>
   <p>Korte tekst over...</p>
</section>
<div class="hr"></div>
<section class="container text-center">
   <h1>Met steun van</h1>
   <div class="logos">
      <img src="../assets/media/sponsors/DePinte.jpg">
      <img src="../assets/media/sponsors/Cultuurregio.jpg">
      <img src="../assets/media/sponsors/GENT.jpg">
      <img src="../assets/media/sponsors/latem.jpg">
      <img src="../assets/media/sponsors/nazareth.jpg">
      <img src="../assets/media/sponsors/Vlaanderen.jpg">
   </div>
</section>